@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Lato';
    src: url('../../public/assets/Lato/Lato-Black.ttf');
    src: url('../../public/assets/Lato/Lato-Bold.ttf');
    src: url('../../public/assets/Lato/Lato-Light.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('../../public/assets/Oswald/Oswald-VariableFont_wght.ttf');
    font-weight: 400;
    font-style: normal;
}


body {
    font-family: Lato, sans-serif;
    font-weight: 600;
    color: #303551;
}

.navbar-list {
    max-height: 50px;
}

.logo-image {
    height: 143px;
    top: 0;
    display: flex;
}

.nav-link {
    padding: 10px 20px;
    color: #303551;
}

.nav-link:hover {
    border-bottom: 2px solid #1B3372;
    transition: border-bottom .5s;
}

.nav-link:nth-child(4):hover {
    border-bottom: none;
}

.mySwiper img {
    height: 400px;
    object-fit: cover;
}

.section-heading {
    height: 50px;
    margin: 50px auto;
}

.blurb {
    margin: 3rem;
    padding: 2rem;
    background: #F5F5F5;
    font-size: 14px;
}

h3, h2 {
    font-family: Oswald, sans-serif;
    font-size: 28px;
}

h4 {
    font-family: Oswald;
    font-size: 18px;
}

.product-card {
    width: 250px;
    height: 390px;
    margin-right: 32px;
}

.product-card .product-card-image {
    height: 180px;
    width: 250px;
    margin-bottom: 16px;
}

.product-card h4 {
    font-family: Oswald, sans-serif;
}

.cta-button {
    background: #424B6B;
    width: 192px;
    margin: 25px auto;
    padding: 20px;
    border-radius: 8px;
    color: white;
}

.cta-link {
    font-weight: 100;
    font-size: 12px;
}

.find-your-balance {
    padding: 16px 0;
    margin: auto;
    width: 305px;
    font-weight: 100;
    font-size: 22px;
    letter-spacing: 3px;
}

.product-section {
    margin: 0 1rem;
    margin-bottom: 3rem;
}

.worskshop-section-heading {
    letter-spacing: 4px;
    font-size: 22px;
    margin: 16px;
}

.ws-title-section {
    width: 243px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.upcoming-workshops {
    margin: 50px 4rem;
    background: #F5F5F5;
    padding: 1rem;
    position: relative;
}

.workshop-times {
    font-size: 14px;
}

.ws-description {
    width: 100%;
    margin-bottom: 2rem;
}

.ws-info-button {
    width: 133px;
    height: 56px;
    margin: 0 15px;
    padding: 0 44px;
}

.random-image {
    height: 347px;
    width: 100%;
    object-fit: cover;
    background-image: url('../../public/assets/images/banner-image-2.jpg');
    margin-top: -180px;
    position: absolute;
    background-size: cover;
    background-position: center center;
    z-index: -1;
}

.footer {
    position: fixed;
    bottom: 0;
}